#image-upload {
    display: none;
  }
  
  .cropper-container {
    display: grid;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  
  .controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .controls input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
    z-index: 1000;
  }
  
  .controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .controls button:hover {
    background-color: #0056b3;
  }
  
  .add-image-container {
    margin-bottom: 20px;
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  .clear-button {
    width: 100%;
  }
  
  .main-image {
    width: 30%;
  }
  
  #main-image-upload {
    display: none;
  }
  
  .image-item {
    position: relative;
    width: 100%;
  }
  
  .image-item img {
    max-width: 100%;
    max-height: 200px;
  }
  
  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .drop-down {
    display: inline-block;
    padding: 10px 3px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }