/* General Styles */
ul {
    background-color: #333;
    list-style-type: none;
    padding: 3px 0px;
    margin: 0;
    display: flex;
    justify-content: space-around; /* Ensure items are evenly spaced */
}

li {
    position: relative; /* Ensure dropdown is positioned relative to parent */
    text-align: center;
}

a, .dropdown > span {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 3px;
    color: white;
    font-size: 24px;
}

.caret {
    margin-left: 10px;
    font-size: 12px; /* Adjust size as needed */
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Below the parent */
    left: 50%; /* Align the center of the dropdown with the center of the box */
    transform: translateX(-50%); /* Move the dropdown back by half of its width */
    background-color: #333;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 2px;
}

.dropdown-content li a {
    color: white;
}

.dropdown-content li a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media Queries */
@media (max-width: 600px) {
    .menu-icon {
        display: block;
        background-color: #282c34;
        margin-left: 15px;
        padding-top: 5px;
    }

    ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    ul.open {
        display: flex;
    }

    li {
        width: 100%;
    }

    a {
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }

    .dropdown-content {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-content li a {
        font-size: 14px; /* Smaller text for dropdown items */
    }
}
