.App {
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  align-content: flex-start;
}

.App-header {
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-left {
  display: inline-block;
  width: 20%;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.general-button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.general-button:hover {
  background-color: #0056b3;
}

.general-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.medium-logo {
  width: 80%;
  cursor: pointer;
}
