.App {
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
    color: #ffffff;
    text-align: center;
    display: grid;
    align-content: flex-start;
}

.row-display {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.large-image {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}
